.formButton {margin-top:15px !important}
.accordion .collapse-title, .collapse-bordered .collapse-title {
    font-weight: 400;
    font-size: 1rem;
    padding-left: 15px;
}
.main-menu.menu-light .navigation li a {
    padding: 5px 15px 5px 15px;
}
.collapse-bordered .card .card-body {padding-top:0px;}

